/* CSS Reset and Font */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Esamanru';
  src:  url('/src/Assets/fonts/esamanru Light.ttf') format('ttf'),
          ('/src/Assets/fonts/esamanru Medium.ttf') format('ttf'),
          ('/src/Assets/fonts/esamanru Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src:  url('/src/Assets/fonts/GmarketSansTTFLight.ttf') format('ttf'),
          ('/src/Assets/fonts/GmarketSansTTFMedium.ttf') format('ttf'),
          ('/src/Assets/fonts/GmarketSansTTFBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Body Scrollbar */
body::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-dark;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-third rounded-md hover:bg-third/50 duration-300;
}