/* CSS Reset and Font */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Esamanru';
  src:  url('/fonts/esamanru Light.ttf') format('ttf'),
          ('/fonts/esamanru Medium.ttf') format('ttf'),
          ('/fonts/esamanru Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src:  url('/fonts/GmarketSansTTFLight.ttf') format('ttf'),
          ('/fonts/GmarketSansTTFMedium.ttf') format('ttf'),
          ('/fonts/GmarketSansTTFBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Body Scrollbar */
body::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-dark;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-third rounded-md hover:bg-third/50 duration-300;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}