/* CSS Reset and Font */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Esamanru";
  src: url("/fonts/esamanru-light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Esamanru";
  src: url("/fonts/esamanru-medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Esamanru";
  src: url("/fonts/esamanru-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Body Scrollbar */
body::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-dark;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply rounded-md bg-third duration-300 hover:bg-third/50;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
