---
  import Layout from "../layout/MainLayout.astro"
	const title = "About Page"
---

<Layout title={title}>
  <div class="title flex flex-col">
    <h1 class="text-3xl font-esamanru font-bold">{title}</h1>
		<p class="font-gmarket font-medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, incidunt laborum dicta voluptatibus dolor quisquam delectus doloribus reprehenderit perspiciatis officiis.</p>
    <a class="bg-blue-600 font-medium font-esamanru text-white py-1 px-2 rounded-md w-max" href="/">Kembali ke Homepage!</a>
  </div>
</Layout>
