---
  import Layout from "../layout/layout.astro"
	const title = "About Page"
---

<Layout title={title}>
  <div class="title flex flex-col">
    <a class="bg-blue-600 font-bold text-white py-1 px-2 rounded-md w-max" href="/">Kembali ke Homepage!</a>
  </div>
</Layout>
