---
	import Layout from "../layout/layout.astro"
	const title = "Home Page"
---

<Layout title={title}>
	<div class="title flex flex-col">
		<h1 class="font-esamanru font-bold">Babi Ngepet</h1>
		<a class="bg-red-600 font-bold text-white p-2 rounded-md w-max" href="/about">Pergi ke About Page!</a>
	</div>
</Layout>