---
	import Layout from "../layout/MainLayout.astro"
	const title = "Home Page"
	const metaDesc = "Eat Pizza, franchise pizza nomor satu dari Korea, kini hadir di Indonesia! Sajikan pizza persegi panjang inovatif dan menangkan hati pelanggan. Peluang bisnis kuliner menjanjikan menanti Anda."
---

<Layout title={title} metaDesc={metaDesc}>
	<div class="title flex flex-col">
		<h1 class="text-3xl font-esamanru font-bold">{title} Babi Ngepet</h1>
		<p class="font-gmarket font-medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, incidunt laborum dicta voluptatibus dolor quisquam delectus doloribus reprehenderit perspiciatis officiis.</p>
		<a class="bg-red-600 font-medium text-white p-2 rounded-md w-max font-esamanru" href="/about">Pergi ke About Page!</a>
	</div>
</Layout>