---
// Button.astro
export const props = { variant: "primary", children: "Button Text" };

const styles = {
  primary: "bg-third text-white hover:bg-opacity-80 py-2 px-4 rounded-md",
  secondary: "bg-secondary text-white hover:bg-opacity-80 py-2 px-4 rounded-md",
};
---

<button class={styles.primary}>
  <slot>{children}</slot>
</button>
