---
// Button.astro
export const props = { variant: 'primary', children: 'Button Text' }

const styles = {
  primary: 'bg-primary text-white hover:bg-opacity-80 py-2 px-4 rounded',
  secondary: 'bg-secondary text-black hover:bg-opacity-80 py-2 px-4 rounded',
};
---
<button class={styles.primary}>
  <slot>{children}</slot>
</button>
