---
// Contact.astro
---
<div class="contact-form flex flex-col justify-center items-center">
  <div class="title">
    <h2>Tertarik jadi bagian dari keluarga besar EatPizza Indonesia?</h2>
    <p>Isi form di bawah ini untuk mulai perjalanan seru bareng kami!</p>
  </div>
  <form class="" action="">
    <div class="input-row flex gap-1">
      <div class="input flex flex-col">
        <label class="font-esamanru text-slate-950" for="">Nama Depan</label>
        <input class="p-1 rounded-sm border border-slate-500" type="text" name="firstName" id="firstName">
      </div>
      <div class="input flex flex-col">
        <label class="font-esamanru text-slate-950" for="">Nama Belakang</label>
        <input class="p-1 rounded-sm border border-slate-500" type="text" name="lastName" id="lastName">
      </div>
    </div>
  </form>
</div>