---
// Footer.astro
const styles = {
  navLinks: 'font-esamanru font-medium text-dark hover:text-third duration-200',
};

// Array of navigation links
const navLinks = [
  { name: 'Home', href: '/' },
  { name: 'About Us', href: '/about' },
  { name: 'Menu', href: '/menu' },
  { name: 'Store', href: '/store' },
  { name: 'Partnership', href: '/partner' },
  { name: 'Contact Us', href: '/contact' },
];
---
<footer class="bg-main text-white text-center flex flex-col">
  <div class="footer-content p-5 flex flex-col justify-center gap-5">
    <img class="w-52" src="/image/eatpizza-logo.png" alt="Eat Pizza Logo">
    <!-- Navigation Links -->
    <ul class="flex flex-col items-start" id="menu">
      {navLinks.map((link) => (
        <li><a href={link.href} class={styles.navLinks}>{link.name}</a></li>
      ))}
    </ul>
    <div class="contact">
      <p class="text-md text-center text-third font-esamanru font-light">HUBUNGI KAMI</p>
      <div class="button flex flex-col gap-3">
        <a class="flex justify-center items-center gap-2 bg-third text-2xl font-medium py-5 rounded-md font-esamanru" href="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12">
            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
            <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
          </svg>
          <span>Contact Us</span>
        </a>
        <a class="flex justify-center items-center gap-2 bg-third text-2xl font-medium py-5 rounded-md font-esamanru" href="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-12">
            <path d="M5.223 2.25c-.497 0-.974.198-1.325.55l-1.3 1.298A3.75 3.75 0 0 0 7.5 9.75c.627.47 1.406.75 2.25.75.844 0 1.624-.28 2.25-.75.626.47 1.406.75 2.25.75.844 0 1.623-.28 2.25-.75a3.75 3.75 0 0 0 4.902-5.652l-1.3-1.299a1.875 1.875 0 0 0-1.325-.549H5.223Z" />
            <path fill-rule="evenodd" d="M3 20.25v-8.755c1.42.674 3.08.673 4.5 0A5.234 5.234 0 0 0 9.75 12c.804 0 1.568-.182 2.25-.506a5.234 5.234 0 0 0 2.25.506c.804 0 1.567-.182 2.25-.506 1.42.674 3.08.675 4.5.001v8.755h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3Zm3-6a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75v-3Zm8.25-.75a.75.75 0 0 0-.75.75v5.25c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75v-5.25a.75.75 0 0 0-.75-.75h-3Z" clip-rule="evenodd" />
          </svg>
          <div class="text flex flex-col items-start">
            <span>Find Us</span>
            <span class="text-sm">Store Location</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <p class="text-center text-white font-esamanru font-medium p-2 text-sm bg-dark flex justify-center items-center">&copy; {new Date().getFullYear()} Eat Pizza. All rights reserved.</p>
</footer>
