---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Pizza | {title}</title>
</head>
<body>
  <h1 class="text-3xl font-gmarket font-bold">{title}</h1>
  <slot>
    <!-- Ini adalah Isi Content -->
  </slot>
</body>
</html>