---
const { title, metaDesc } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Pizza | {title}</title>
  <meta name="description" content={metaDesc}>
  <link rel="icon" href="/eatpizza-favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/global.css" />
</head>
<body class="bg-main">
  <Header/>
  <main class="min-h-screen">
    <slot>
      <!-- Ini adalah Isi Content -->
    </slot>
  </main>
  <Footer/>
</body>
</html>